<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231432012839-g10a8silqhj7qn03dos4b3da74l2il59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231432012839-g10a8silqhj7qn03dos4b3da74l2il59</string>
	<key>API_KEY</key>
	<string>AIzaSyDeW90AJ-554HQYYSWDkEQT1FOMq4JcAQs</string>
	<key>GCM_SENDER_ID</key>
	<string>231432012839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthLineSignIn</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-line-sign-in</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-line-sign-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231432012839:ios:c29de203d2678d4a87fa02</string>
</dict>
</plist>